body {
    display: flex;
    flex-direction: row;
    background-color: #BFC1FF;
}

#menu {
    margin: 3%;
    background-color: #A1A1A1;
    box-shadow: 3px 3px #454545;
    position: fixed;
    border-radius: 2px;
}

#menu p {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: inconsolata;
    display: none;
    text-align: center;
}

#menu #menuIcon {
    display: block;
    padding: 1px;
    height: auto;
    border-radius: 5px;
}

#navBar {
    display: none;
    list-style-type: none;
    padding: 2px;
}

.button {
    font-family: inconsolata;
    text-align: left;
    margin: 4px;
    padding: 5px;
    background-color: #adadad;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 3px;
    border-color: #4f4f4f;
    border-radius: 3px;
}

.button:hover {
    background-color: #FFD66E;
    border-color: #FFE7AA;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-top-style: solid;
}

#body {
    margin: 3%;
    margin-left: 13%;
    background-color: #A1A1A1;
    display: block;
    box-shadow: 3px 3px #454545;
    width: 86%;
    height: 86%;
    border-radius: 3px;
}
